/* Calculator display */

body {
    height: 100%;
    overflow: hidden;
}

.container {
    padding: 0px;
}

.calculator-display {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid hsl(210, 14%, 89%);
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#expression {
    font-size: 14px;
    min-height: 20px;
}

#result {
    font-size: 32px;
    word-wrap: break-word;
}


/* Button grid */

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


/* Button styling */

.calculator-buttons button {
    height: 60px;
    font-size: 18px;
    font-weight: 500;
}


/* Equal button */

.calculator-buttons button[data-action="equals"] {
    font-weight: bold;
}


/* Hover effect */

.calculator-buttons button:hover {
    opacity: 0.9;
}


/* Active click effect */

.calculator-buttons button:active {
    transform: scale(0.97);
}

/* keyboard press effect */

.key-active {
    transform: scale(0.95);
    opacity: 0.8;
}